{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static '/css/login.css' %}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <form class="lform">
            <div class="container">
                <label class="uname" for="uname"><b>Username</b></label>
                <input class="uname" type="text" placeholder="Enter Username" name="uname" required>

                <label class="password"for="psw"><b>Password</b></label>
                <input class="password"type="password" placeholder="Enter Password" name="psw" required>

                <button class="log" type="submit">Login</button>
                <label>
                <input class="remember" type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>
                <div class="container" style="background-color:#f1f1f1">
                <button class="but" type="button" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a class="pass" href="#">password?</a></span>
            </div>
        </form>
        <script src="" async defer></script>
    </body>
</html>