{% extends "./base.html" %}
{% load static %}

{% block title %} Pixit {% endblock  %}

{% block head %}
 <link rel="stylesheet" href="{% static '/css/remove_template.css' %}">
{% endblock  %}

{% block content %}

<form method="post" action="/upload">
    <input id="image" type="file" placeholder="Upload your image" />
    <label class="upload" for="image"> Upload Image </label>
</form>

<img class="face" src="{% static '/img/bg.png'%}" alt="rembg" width="300px" height="auto">
{% endblock  %}  