{% load static %}
<!DOCTYPE <!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sign Up</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static '/css/signup.css' %}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <form class="form">
        <div class="container">
          <h1>Sign Up</h1>
          <hr>

    <img class="maggi" src="{% static '/img/Desk1.jpg'%}" alt="chair" width="400px" height="auto">
    

    <label class="email" for="email"><b>Email</b></label>
    <input class="email" type="text" placeholder="Enter Email" name="email" id="email" required>

    <label class="password" for="psw"><b>Password</b></label>
    <input class="password" type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <label class="repassword" for="psw-repeat"><b>Repeat Password</b></label>
    <input class="repassword" type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
    <hr>

    <p >By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
    <button type="submit" class="registerbtn">Sign Up</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div>
    </form>
        
        <script src="" async defer></script>
    </body>
</html>