body {
    background-image: url("/static/img/purple.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(226, 200, 250);
  }

.lform {
    background-color: rgb(252, 226, 252);
    width: 850px;
    height: 550px;
    position: fixed;
    top: 70px;
    left: 310px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2)}

.uname{display: block;}

.password{display: block;}

.log{display: block;}

.remember{display: inline;}

.psw{display: inline;}

.pass{display: inline;}

.but{display: inline;}






