body {
    background-image: url("/static/img/sblue_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(226, 200, 250);
  }

.desk{position: fixed;
      right: 350px;}

.lform {
    background-color:white;
    width: 850px;
    height: 550px;
    position: fixed;
    top: 70px;
    left: 310px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2)}

hr{width: 350px;
      margin-left: 5px;}

.uname{display: block;
  border-radius: 30px;
  width: 40%;
  height: 40px;
  border: 1.5px solid rgb(212, 212, 212);
  padding: 10px;
  padding-left: 10px;
    margin-bottom: 15px;}

.password{display: block;
  border-radius: 30px;
  width: 40%;
  height: 40px;
  border: 1.5px solid rgb(212, 212, 212);
  padding: 10px;
  padding-left: 10px;
    margin-bottom: 15px;}

.log{display: block;
  width:15%;
  height: 50px;
background-color: rgb(115, 170, 246);
color: white;
font-size: 12pt;
border-radius:4px ;
border: none;
margin-left: 10px;}

.remember{display: inline;}

.psw{display: block;
    background-color: white;}

.pass{display: inline;}

.but{display: inline;}






