body{background-color:white;}

img{position: fixed;
    top: 0px;
    left: 80px;
    border-radius: 20px;}

nav {background-color: white;
            color: black;
            border-bottom: 0pt solid rgb(85, 121, 248);
            position: fixed;
            top: 0px;
            left:0px;
            right: 0px;
            height: 12%;
            box-shadow: 1px 1px 10px 0px rgb(85, 121, 248);}



.sign{background-color:rgb(85, 121, 248);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    border: none;
    border-radius: 25px;
    padding: 10px;
    color: white;
    height: 50px;
    width: 120px;
    cursor: pointer;
    position: fixed;
    right: 30px;
    top:17px;}
.sign:hover{outline: none !important;
            background-color: white;
             color:rgb(85, 121, 248) ;}

.clicka{padding: 10px;
       position: fixed;
       top: 20px;
       left: 600px;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 12pt;
       color: black;
       text-decoration: none;
       }
.clicka:hover{text-decoration: underline rgb(85, 121, 248);}

.clickb{padding: 10px;
    position: fixed;
    top: 20px;
    left: 670px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: black;
    text-decoration: none;}
.clickb:hover{text-decoration: underline rgb(85, 121, 248);}

.clickc{padding: 10px;
    position: fixed;
    top: 20px;
    left: 770px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: black;
    text-decoration: none;}
.clickc:hover{text-decoration: underline rgb(85, 121, 248);}

.clickd{padding: 10px;
    position: fixed;
    top: 20px;
    right: 170px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: black;
    text-decoration: none;
    }
.clickd:hover{text-decoration: underline rgb(85, 121, 248);}





   