body {
    background-image: url("/static/img/purple.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(226, 200, 250); }

.form {
        background-color: white;
        width: 850px;
        height:550px;
        border-radius: 8px;
        padding: 20px 40px;
        box-shadow: 0 10px 25px rgba(92, 99, 105, .2);  
        position: fixed;
        left: 310px;
        top: 70px; }

.maggi{position: fixed;
     top: 150px;
     left: 800px; }

hr{width: 300px;
   margin-left: 7px;}

.first_name{display: block;}
.last_name{display: block;}
.username{display: block;}

.email{display: block;}

.password{display: block;}

.repassword{display: block;}


.mag{position: fixed;
     left:450px}



